/* .header {
  background: var(--gray-800);
  display: flex;
  height: 80px;
  justify-content: center;
  padding: 1.25rem 0;
} */

.header {
  width: 100%;
  height: 5rem;
  background: var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.iconSpaceCraft {
  width: 1.375rem;
  height: 2.25rem;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
}

.textLogoBlue {
  color: var(--blue);
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-left: 1rem;
}

.textLogoPurple {
  color: var(--purple-dark);
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.fontColorText {
  color: var(--gray-100);
  font-size: 10em;
}

@media (max-width: 768px) {
  .header {
    height: 4.5rem;
    padding: 0.75rem;
  }

  .iconSpaceCraft {
    width: 1.2rem;
    height: 2rem;
    margin-top: 0;
  }

  .textLogoBlue,
  .textLogoPurple {
    font-size: 1.75rem;
  }
}
